---
import "../styles/global.css";
import Layout from "./layout.astro";
---

<Layout>
  <div class="box">
    <div class="box-title">error 404</div>
    <p>page not found</p>
  </div>

  <p>the page you're looking for doesn't exist.</p>

  <p>you might have mistyped the URL, or the page has been moved or deleted.</p>

  <p>this is part of the misery that comes with running a homelab.</p>

  <p><a href="/">&lt;- go home</a></p>
</Layout>
