---
import "../styles/global.css";
import { getRuntimeEnv } from "../lib/runtimeEnv";
import Layout from "./layout.astro";
const runtimeEnv = getRuntimeEnv();

const nodePositions: Record<string, number> = {
  "k8s-worker-1": 58,
  "k8s-worker-2": 72,
  "k8s-worker-3": 86,
};

const displayNames: Record<string, string> = {
  "k8s-worker-1": "bleak",
  "k8s-worker-2": "distress",
  "k8s-worker-3": "sorrow",
  "??": "magic",
};

const topPosition = runtimeEnv.nodeName
  ? (nodePositions[runtimeEnv.nodeName] ?? 50)
  : 50;
---

<Layout>
  <p><span class="accent">misery.systems</span> is just my homelab.</p>
  
  <p>I run random stuff here and mess with kubernetes and linux.</p>
  
  <p>It's mostly for learning, breaking things, and fixing them (sometimes).</p>

  <div class="box">
    <div class="box-title">connection info</div>
    <p>
      served by: <span class="accent">{displayNames[runtimeEnv.nodeName ?? '??']}</span>
    </p>
  </div>

  <div class="img-container">
    <img
      src="/rack-min.jpg"
      alt="Homelab rack with servers"
      loading="eager"
      width="3590"
      height="3595"
    />
    {runtimeEnv.nodeName && (
      <div class="img-label" style={`top: ${topPosition}%; left: 50%; transform: translate(-50%, -50%);`}>
        &lt; you are here &gt;
      </div>
    )}
  </div>
</Layout>
