---
import Link from "../components/Link.astro";
import Layout from "./layout.astro";
---

<Layout>
  <div class="space-y-3 text-lg" style="color:var(--cat-text);">
    <p><strong style="color:var(--cat-peach)">misery.systems</strong> is the affectionate name for my homelab.</p>
    <p>It's a collection of projects and tools that I've built or am working on.</p>
    <p>I chose the name when I added a Kubernetes cluster to my homelab.</p>
    <p>For people with Kubernetes experience, that might make sense.</p>
    <p>But it's a reference to the fact that Kubernetes is often a source of misery.</p>
  </div>
</Layout>
