---
import "../styles/global.css";
import Layout from "./layout.astro";
---

<Layout>
  <p>Stuff running on the cluster:</p>

  <dl>
    <dt><a href="https://github.com/AlexGaudon/tallyo">tallyo</a></dt>
    <dd>personal finance tracker (RIP Mint) <span class="accent">*</span></dd>

    <dt><a href="https://github.com/AlexGaudon/overs.sh">overs.sh</a></dt>
    <dd>file transfer tool over SSH <span class="accent">*</span></dd>

    <dt><a href="https://github.com/AlexGaudon/misery.systems">misery.systems</a></dt>
    <dd>this website <span class="accent">*</span></dd>

    <dt><a href="https://github.com/AlexGaudon/stocky">stocky</a></dt>
    <dd>discord bot for stock prices <span class="accent">*</span></dd>

    <dt><a href="https://github.com/alexgaudon/ntfy-bridge">ntfy-bridge</a></dt>
    <dd>discord to ntfy.sh bridge <span class="accent">*</span></dd>

    <dt><a href="https://github.com/alexgaudon/lootsheet">lootsheet</a></dt>
    <dd>tibia loot splitter <span class="accent">*</span></dd>

    <dt><a href="https://sonarr.tv/">sonarr</a></dt>
    <dd>TV series management</dd>

    <dt><a href="https://radarr.video/">radarr</a></dt>
    <dd>movie collection management</dd>

    <dt><a href="https://www.bazarr.media/">bazarr</a></dt>
    <dd>subtitle management</dd>

    <dt><a href="https://jellyfin.org/">jellyfin</a></dt>
    <dd>media server</dd>

    <dt><a href="https://www.truenas.com/">truenas</a></dt>
    <dd>NAS storage</dd>

    <dt><a href="https://immich.app/">immich</a></dt>
    <dd>photo/video backup</dd>
  </dl>

  <p class="muted"><span class="accent">*</span> = i built it</p>
</Layout>
